<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Find Your Match</title>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="font-family: GothamPro">
<font color="6c6d6a">
 <!-- Intro Section -->
    <section id="intro" class="intro-section" >
        <div class="header-shadow">
            <div class="row2">
                <a class="navbar-brand page-scroll" href="../landingpage"><img src="../assets/images/logod2.gif"/></a>
            </div>
        </div>
    </section>

    <div class="header-shadow2">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="../landingpage">Home</a></li>
            <li role="presentation" class="active"><a href="#">Match</a></li>
            <li role="presentation"><a href="../resources">Resources</a></li>
        </ul>
    </div>

<!-- Resources Section -->
    <section id="resources" class="resources-section">
        <div class="container" style="font-weight: 200">
            <p><font size=10>Let's Find <font color="e35d60">Your City!</font></font></p><br>

<%= form_for :match, url: match_path do |f| %>
<div class="matchbg" style="font-weight: 200; font-size: 25px">
    <p>
        <font color="e35d60"><%= f.label :region, ""%></font><br>
        <font size=4>Where in Canada would you like to start your business?</font><br>
        <%=radio_button_tag(:region, "Western Canada", 'on')%><font size=4> Western Canada</font>
        <%=label_tag(:region_1,"") %>
        <%=radio_button_tag(:region, "Eastern Canada")%><font size=4> Eastern Canada</font>
        <%=label_tag(:region_2,"")%>
        <%=radio_button_tag(:region, "It doesn't matter")%><font size=4> It doesn't matter</font>
        <%=label_tag(:region_3,"")%>
    </p>
    <p>
        <font color="e35d60"><%= f.label :finanass, "Financial Assistance" %></font><br>
        <font size=4>To you, how important is the availability of financial aid?</font><br>
        <%= radio_button_tag(:finanass, "1", 'on') %>
        <%= label_tag(:finanass_1, "") %><img src="../assets/images/mapleleaf.gif">
        <%= radio_button_tag(:finanass, "2") %>
        <%= label_tag(:finanass_2, "") %><img src="../assets/images/mapleleaf.gif"><img src="../assets/images/mapleleaf.gif">
        <%= radio_button_tag(:finanass, "3") %>
        <%= label_tag(:finanass_3, "") %><img src="../assets/images/mapleleaf.gif"><img src="../assets/images/mapleleaf.gif"><img src="../assets/images/mapleleaf.gif">
    </p>

    <p>
        <font color="e35d60"><%= f.label :age, "Targeted Age Groups" %></font><br>
        <font size=4>
        <%= f.select( :age, options_for_select([["Choose one:", "PctPerson024"], ["0 to 24", "PctPerson024"], ["25 to 44", "PctPerson2544"], ["45 to 64", "PctPerson4564"], ["65 and older", "PctPerson65Over"]])) %>
        </font><br>
        <font size=4>To you, how important is the targeted age group?</font><br>
        <%= radio_button_tag(:age, "1", 'on') %>
        <%= label_tag(:age_1, "") %><img src="../assets/images/mapleleaf.gif">
        <%= radio_button_tag(:age, "2") %>
        <%= label_tag(:age_2, "") %><img src="../assets/images/mapleleaf.gif"><img src="../assets/images/mapleleaf.gif">
        <%= radio_button_tag(:age, "3") %>
        <%= label_tag(:age_3, "") %><img src="../assets/images/mapleleaf.gif"><img src="../assets/images/mapleleaf.gif"><img src="../assets/images/mapleleaf.gif">
    </p>

    <p>
        <font color="e35d60"><%= f.label :income, "Targeted Income Groups" %></font><br>
        <font size=4>
        <%= f.select( :income, options_for_select([["Choose one:", "PctOver15K"], ["$15,000 and greater", "PctOver15K"], ["$50,000 and greater", "PctOver50K"], ["$100,000 and greater", "PctOver100K"]])) %>
        </font><br>
        <font size=4>To you, how important is the targeted income group?</font><br>
        <%= radio_button_tag(:income, "1", 'on') %>
        <%= label_tag(:income_1, "") %><img src="../assets/images/mapleleaf.gif">
        <%= radio_button_tag(:income, "2") %>
        <%= label_tag(:income_2, "") %><img src="../assets/images/mapleleaf.gif"><img src="../assets/images/mapleleaf.gif">
        <%= radio_button_tag(:income, "3") %>
        <%= label_tag(:income_3, "") %><img src="../assets/images/mapleleaf.gif"><img src="../assets/images/mapleleaf.gif"><img src="../assets/images/mapleleaf.gif">
    </p>

    <div class="alert alert-info" role="alert"><font size=4>If your business involves sales of goods, choose the most applicable retail category below. Otherwise, choose the most applicable non-retail/industry category below.</font></div>
    <p>
        <font color="e35d60"><%= f.label :retailtype, "Retail-type" %></font><br>
        <font size=4>
        <%= f.select( :retailtype, options_for_select([ ["Not Applicable", "na"],
                                                        ["Motor vehicle and parts dealers", "Motor"],
                                                        ["Furniture and home furnishings stores", "Furniture"],
                                                        ["Electronics and appliance stores", "Electronic"],
                                                        ["Building material and garden equipment and supplies dealers", "BuildingGardenMaterial"],
                                                        ["Food and beverage stores", "FoodDrink"],
                                                        ["Health and personal care stores", "HealthPersonal"],
                                                        ["Gasoline stations", "gas"],
                                                        ["Clothing and clothing accessories stores", "Clothing"],
                                                        ["Sporting goods, hobby, book and music stores", "Sports"],
                                                        ["General merchandise stores", "General"],
                                                        ["Miscellaneous store retailers", "Miscellaneous"]])) %> <br>
        How accurate is this classification? (If applicable) <br>
        <%= radio_button_tag(:retailtype, "1", 'on') %>
        <%= label_tag(:retailtype_1, "") %><img src="../assets/images/mapleleaf.gif">
        <%= radio_button_tag(:retailtype, "2") %>
        <%= label_tag(:retailtype_2, "") %><img src="../assets/images/mapleleaf.gif"><img src="../assets/images/mapleleaf.gif">
        <%= radio_button_tag(:retailtype, "3") %>
        <%= label_tag(:retailtype_3, "") %><img src="../assets/images/mapleleaf.gif"><img src="../assets/images/mapleleaf.gif"><img src="../assets/images/mapleleaf.gif">
        </font>
    </p>

    <p>
        <font color="e35d60"><%= f.label :indus, "Non-Retail Industry-type" %></font><br>
        <font size=4>
        <%= f.select( :indus, options_for_select([      ["Not applicable", "na"],
                                                        ["Agriculture employment", "Agriculture"],
                                                        ["Forestry, fishing, mining, quarrying, oil and gas employment", "Forestry"],
                                                        ["Utilities employment", "Utilities"],
                                                        ["Construction employment", "Construction"],
                                                        ["Manufacturing employment", "Manufacturing"],
                                                        ["Trade employment", "Trade"],
                                                        ["Transportation and warehousing employment", "TransporationWarehousing"],
                                                        ["Finance, insurance, real estate and leasing employment", "FinanceInsuranceRealEstate"],
                                                        ["Professional, scientific and technical services employment", "ProfScientificTechnical"],
                                                        ["Business, building and other support services employment", "BusinessBuildingSupportService"],
                                                        ["Educational services employment", "Education"],
                                                        ["Health care and social assistance employment", "HealthCare"],
                                                        ["Information, culture and recreation employment", "InformationCultureRecreation"],
                                                        ["Accommodation and food services employment", "Accomodation"],
                                                        ["Other services employment", "OtherServices"],
                                                        ["Public administration employment", "PublicAdmin"]])) %> <br>
        How accurate is this classification? (If applicable) <br>
        <%= radio_button_tag(:indus, "1", 'on') %>
        <%= label_tag(:indus_1, "") %><img src="../assets/images/mapleleaf.gif">
        <%= radio_button_tag(:indus, "2") %>
        <%= label_tag(:indus_2, "") %><img src="../assets/images/mapleleaf.gif"><img src="../assets/images/mapleleaf.gif">
        <%= radio_button_tag(:indus, "3") %>
        <%= label_tag(:indus_3, "") %><img src="../assets/images/mapleleaf.gif"><img src="../assets/images/mapleleaf.gif"><img src="../assets/images/mapleleaf.gif">
        </font>
    </p>
    <br>
    <p>
        <%= f.submit %>
    </p>
    <br><br>

<% end %>
        </div>
    </div>
    </section>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://arrow.scrolltotop.com/arrow88.js"></script>
<noscript>Not seeing a <a href="http://www.scrolltotop.com/">Scroll to Top Button</a>? Go to our FAQ page for more info.</noscript>
</font>
</body>

</html>
