<h1>Match</h1>

<%= form_for :match, url: match_path do |f| %>
	<p>
		<%= f.label :finanass, "Financial Assistance" %><br>
		How Important? <br>
		<%= radio_button_tag(:finanass, "1") %>
		<%= label_tag(:finanass_1, "1") %>
		<%= radio_button_tag(:finanass, "2") %>
		<%= label_tag(:finanass_2, "2") %>
		<%= radio_button_tag(:finanass, "3") %>
		<%= label_tag(:finanass_3, "3") %>
	</p>

	<p>
		<%= f.label :age, "Targeted Age Groups" %><br>
		<%= f.select( :age, options_for_select([["0 to 24", "PctPerson024"], ["25 to 44", "PctPerson2544"], ["45 to 64", "PctPerson4564"], ["65 and older", "pctperson65over"]])) %> <br>
		How Important? <br>
		<%= radio_button_tag(:age, "1") %>
		<%= label_tag(:age_1, "1") %>
		<%= radio_button_tag(:age, "2") %>
		<%= label_tag(:age_2, "2") %>
		<%= radio_button_tag(:age, "3") %>
		<%= label_tag(:age_3, "3") %>
	</p>

	<p>
		<%= f.label :income, "Targeted Income Groups" %><br>
		<%= f.select( :income, options_for_select([["$15,000 and greater", "pctover15k"], ["$50,000 and greater", "pctover50k"], ["$100,000 and greater", "pctover100k"]])) %> <br>
		How Important? <br>
		<%= radio_button_tag(:income, "1") %>
		<%= label_tag(:income_1, "1") %>
		<%= radio_button_tag(:income, "2") %>
		<%= label_tag(:income_2, "2") %>
		<%= radio_button_tag(:income, "3") %>
		<%= label_tag(:income_3, "3") %>
	</p>

	<p>
		<h2>Pick one of the two</h2>
	</p>

	<p>
		<%= f.label :retailtype, "Retail Type" %><br>
		<%= f.select( :retailtype, options_for_select([["Motor vehicle and parts dealers", "motor"],
														["Furniture and home furnishings stores", "furniture"],
														["Electronics and appliance stores", "electronic"],
														["Building material and garden equipment and supplies dealers", "buildinggardenmaterial"],
														["Food and beverage stores", "fooddrink"],
														["Health and personal care stores", "healthpersonal"],
														["Gasoline stations", "gas"],
														["Clothing and clothing accessories stores", "clothing"],
														["Sporting goods, hobby, book and music stores", "sports"],
														["General merchandise stores", "general"],
														["Miscellaneous store retailers", "miscellaneous"]])) %> <br>
		How Important? <br>
		<%= radio_button_tag(:retailtype, "1") %>
		<%= label_tag(:retailtype_1, "1") %>
		<%= radio_button_tag(:retailtype, "2") %>
		<%= label_tag(:retailtype_2, "2") %>
		<%= radio_button_tag(:retailtype, "3") %>
		<%= label_tag(:retailtype_3, "3") %>
	</p>

	<p>
		<%= f.label :indus, "Industry" %><br>
		<%= f.select( :indus, options_for_select([["Agriculture employment", "agriculture"],
														["Forestry, fishing, mining, quarrying, oil and gas employment", "forestry"],
														["Utilities employment", "utilities"],
														["Construction employment", "construction"],
														["Manufacturing employment", "manufacturing"],
														["Trade employment", "trade"],
														["Transportation and warehousing employment", "transporationwarehousing"],
														["Finance, insurance, real estate and leasing employment", "financeinsurancerealestate"],
														["Professional, scientific and technical services employment", "profscientifictechnical"],
														["Business, building and other support services employment", "businessbuildingsupportservice"],
														["Educational services employment", "education"],
														["Health care and social assistance employment", "healthcare"],
														["Information, culture and recreation employment", "informationculturerecreation"],
														["Accommodation and food services employment", "accomodation"],
														["Other services employment", "otherservices"],
														["Public administration employment", "publicadmin"]])) %> <br>
		How Important? <br>
		<%= radio_button_tag(:indus, "1") %>
		<%= label_tag(:indus_1, "1") %>
		<%= radio_button_tag(:indus, "2") %>
		<%= label_tag(:indus_2, "2") %>
		<%= radio_button_tag(:indus, "3") %>
		<%= label_tag(:indus_3, "3") %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>