<h1>Match</h1>

<%= form_for :match, url: match_path do |f| %>
	<p>
		<%= f.label :finanass, "Financial Assistance" %><br>
		How Important? <br>
		<%= radio_button_tag(:finanass, "1") %>
		<%= label_tag(:finanass_1, "1") %>
		<%= radio_button_tag(:finanass, "2") %>
		<%= label_tag(:finanass_2, "2") %>
		<%= radio_button_tag(:finanass, "3") %>
		<%= label_tag(:finanass_3, "3") %>
	</p>

	<p>
		<%= f.label :age, "Targeted Age Groups" %><br>
		<%= f.select( :age, options_for_select([["0 to 24", "0-24"], ["25 to 44", "25-64"], ["45 to 64", "45-64"], ["65 and older", "65+"]])) %> <br>
		How Important? <br>
		<%= radio_button_tag(:age, "1") %>
		<%= label_tag(:age_1, "1") %>
		<%= radio_button_tag(:age, "2") %>
		<%= label_tag(:age_2, "2") %>
		<%= radio_button_tag(:age, "3") %>
		<%= label_tag(:age_3, "3") %>
	</p>

	<p>
		<%= f.label :income, "Targeted Income Groups" %><br>
		<%= f.select( :income, options_for_select([["$15,000 and greater", "15k+"], ["$50,000 and greater", "50k+"], ["$100,000 and greater", "100k+"]])) %> <br>
		How Important? <br>
		<%= radio_button_tag(:income, "1") %>
		<%= label_tag(:income_1, "1") %>
		<%= radio_button_tag(:income, "2") %>
		<%= label_tag(:income_2, "2") %>
		<%= radio_button_tag(:income, "3") %>
		<%= label_tag(:income_3, "3") %>
	</p>

	<p>
		<%= f.label :retailbool, "Retail?" %><br>
		<%= radio_button_tag(:retailbool, "Yes") %>
		<%= label_tag(:retailbool_y, "Yes") %>
		<%= radio_button_tag(:retailbool, "No") %>
		<%= label_tag(:retailbool_n, "No") %>
	</p>

	<p>
		<%= f.label :retailtype, "Retail Type" %><br>
		<%= f.select( :retailtype, options_for_select([["Motor vehicle and parts dealers", "Motor"],
														["Furniture and home furnishings stores", "Furniture"],
														["Electronics and appliance stores", "Electronics"],
														["Building material and garden equipment and supplies dealers", "Building"],
														["Food and beverage stores", "Food"],
														["Health and personal care stores", "Health"],
														["Gasoline stations", "Gasoline"],
														["Clothing and clothing accessories stores", "Clothing"],
														["Sporting goods, hobby, book and music stores", "Sporting"],
														["General merchandise stores", "General"],
														["Miscellaneous store retailers", "Miscellaneous"]])) %> <br>
		How Important? <br>
		<%= radio_button_tag(:retailtype, "1") %>
		<%= label_tag(:retailtype_1, "1") %>
		<%= radio_button_tag(:retailtype, "2") %>
		<%= label_tag(:retailtype_2, "2") %>
		<%= radio_button_tag(:retailtype, "3") %>
		<%= label_tag(:retailtype_3, "3") %>
	</p>

	<p>
		<%= f.label :indus, "Industry" %><br>
		<%= f.select( :indus, options_for_select([["Agriculture employment", "Motor"],
														["Forestry, fishing, mining, quarrying, oil and gas employment", "Furniture"],
														["Utilities employment", "Electronics"],
														["Construction employment", "Building"],
														["Manufacturing employment", "Food"],
														["Trade employment", "Health"],
														["Transportation and warehousing employment", "Gasoline"],
														["Finance, insurance, real estate and leasing employment", "Clothing"],
														["Professional, scientific and technical services employment", "Sporting"],
														["Business, building and other support services employment", "General"],
														["Educational services employment", "Health"],
														["Health care and social assistance employment", "Gasoline"],
														["Information, culture and recreation employment", "Clothing"],
														["Accommodation and food services employment", "Sporting"],
														["Other services employment", "General"],
														["Public administration employment", "Miscellaneous"]])) %> <br>
		How Important? <br>
		<%= radio_button_tag(:indus, "1") %>
		<%= label_tag(:indus_1, "1") %>
		<%= radio_button_tag(:indus, "2") %>
		<%= label_tag(:indus_2, "2") %>
		<%= radio_button_tag(:indus, "3") %>
		<%= label_tag(:indus_3, "3") %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>